<p id="notice"><%= notice %></p>


<h1> <%= @beer_club.name %> </h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <strong>Members:</strong>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li> <%= link_to member.username, member %> </li>
    <% end %>
  </ul>
</p>
<% if current_user %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), :class => 'btn btn-primary' %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' if current_user %>
