<p id="notice"><%= notice %></p>


<h1> <%= @beer_club.name %> </h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <strong>Members:</strong>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li> <%= link_to member.username, member %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
