<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>Has given <%= pluralize(@user.ratings.size, "rating") %>, average <%= @user.average_rating(@user.ratings) %></p>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if currently_signed_in? @user %>
        <%= link_to 'Delete', rating_path(rating.id), method: :delete, :data => { :confirm => 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
<% if @user.ratings.size > 0 %>
  Favorite style is <%= @user.favorite_style.name %>
<% else %>
  No favorite style (you need to rate a beer to have one).
<% end %>
</p>

<p>
<% if @user.ratings.size > 0 %>
  Favorite brewery is <%= @user.favorite_brewery %>
<% else %>
  No favorite brewery (you need to rate a beer to have one).
<% end %>

<p>Is a member of <%= pluralize(@user.beer_clubs.size, "beer club") %> </p>

<ul>
  <% @user.beer_clubs.each do |beer_club| %>
    <li> <%= link_to beer_club.name, beer_club %> </li>
  <% end %>
</ul>

<% if currently_signed_in? @user %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', user_path(@user), method: :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>
