<p id="notice"><%= notice %></p>

<h1><%= @style.name %></h1>

<%= @style.description %>

beers:<br/>
<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_style_path(@style), :class => 'btn btn-primary' %>
<%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' if current_user %>
