<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
Established at <%= @brewery.year %>
  
</p>

<p>
  <strong>Number of beers:</strong>
  <%= @brewery.beers.count %>
</p>

<ul>
  <% @brewery.beers.each do |beer| %>
    <li> <%= link_to beer.name, beer %> </li>
  <% end %>
</ul>

<% if @brewery.ratings.empty? %>
  The beers of this brewery don't have any ratings yet.</br>
<% else %>
  The beers of this brewery have <%= pluralize(@brewery.ratings.size, "rating") %>, average <%= @brewery.average_rating(@brewery.ratings) %>. </br>
<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
